// Font default size is 16px
$default-font-size: 1.6rem;

// Basic Colors
$color-white: #ffffff;
$color-black: #000000;

// Color Palette
$color-palette-1: #011627;
$color-palette-2: #fdfffc;
$color-palette-3: #2ec4b6;
$color-palette-4: #e71d36;
$color-palette-5: #ff9f1c;

// Border in posts
$color-border: rgb(241, 233, 233);
