.btn {
  padding: 9px 20px;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;

  &-primary {
    background-color: #4a95e4;
  }

  &-transparent {
    color: black;
    background-color: transparent;
    padding: 9px 0px;
    font-size: 13px;
  }

  &-transparent-dropdown {
    color: black;
    background-color: transparent;
    padding: 15px 5px 15px 35px;
  }
}
