.profile-wrapper {
  padding: 5rem 0;
  background-color: #f4f8fb;
  min-height: 100vh;
}

.profile-info {
  height: 53rem;
  // background: yellow;

  &__backdrop {
    height: 38rem;
    background: green;
    background-image: url(/img/backdrop1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
  }

  &__container {
    display: flex;
    height: 15rem;
  }

  &-image-wrapper {
    margin-top: -6rem;
    padding: 0 2rem;
    width: 20%;

    &-img {
      width: 180px;
      height: 180px;
      background: aqua;
      border-radius: 50%; // so it's circle
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-image: url(/img/profile2.png);

      border: 5px solid #eee;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    }
  }

  &-name {
    width: 50%;
    // background: aqua;
  }

  &-editbutton {
    // background: red;
    width: 35%;
  }
}

.text-name {
  font-size: 3rem;
}

.text-place {
  font-size: 2rem;
}

.profile-flex {
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
  // background: red;
}

.profile-friends {
  width: 28%;
  height: 45rem;
  // background: pink;
  border-radius: 10px;
  border: 1px solid $color-palette-3;
}

.profile-header {
  // background: yellow;
  border-bottom: 1px solid $color-palette-3;
  text-align: center;
  padding: 0.5rem 0;
}

// THIS IS FOR THE WALL ////////////////////////////////
.profile-wall {
  width: 40%;
  height: 45rem;
  // background: white;
  // border-radius: 10px;
  // border: 1px solid $color-palette-3;

  // The form
  &-form {
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    padding-top: 0.5rem;

    & form {
      .form-textarea {
        width: 100%;
        height: 13rem;
        border: none;
        outline: none;
        resize: none;
        padding: 1.3rem 2rem;
      }
    }
  }

  // The post
  &-post {
    width: 100%;
    padding: 0 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);

    &-header {
      display: flex;
      padding: 1rem 0;
      // height: 7rem;

      &__image {
        // flex: 20%;
        padding-right: 1rem;
        // background: yellow;

        &__img {
          height: 65px;
          width: 65px;
          background-color: red;
          border-radius: 30%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-image: url(/img/profile6.png);

          border: 4px solid rgb(230, 226, 226);
        }
      }

      &__info {
        flex: 65%;
      }

      &__dropdown {
        flex: 15%;
      }
    }

    &-content {
      border-top: 1px solid $color-border;
      padding: 1.3rem 0 2.5rem;
    }

    &-footer {
      border-top: 1px solid $color-border;
      display: flex;
      padding: 0.2rem 0;
      &__left {
        flex: 50%;
        text-align: left;
      }

      &__right {
        flex: 50%;
        text-align: right;
      }
    }
  }
}

// for the form to write a post
.form-group-flex {
  display: flex;
  padding: 0.5rem 1.2rem;
  border-top: 1px solid $color-border;

  &-left {
    flex: 60%;
    text-align: left;
  }

  &-right {
    flex: 40%;
    text-align: right;
  }
}

// THIS IS FOR FAVORITE COURT
.profile-favorite {
  width: 28%;
  height: 45rem;
  // background: aqua;
  border-radius: 10px;
  border: 1px solid $color-palette-3;
}

// TEXT FOR POST
.text-post {
  &-name {
    font-weight: bold;
    font-size: 1.7rem;
  }

  &-location {
    font-size: 1.6rem;
    color: rgb(167, 148, 148);
  }

  &-content {
  }
}
