.players-wrapper {
  padding: 5rem 0;
  background-color: #fafafa;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.players {
  &-filterbar {
    font-size: 1.4rem;
    padding: 2rem 0;
    margin-bottom: 2rem;
    font-weight: 600;
    color: gray;
    letter-spacing: 2px;
  }

  &-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__box {
      flex: 0 0 23%;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid #f4f4f4;
      margin: 4rem 0;
      padding: 0 2rem;
      text-align: center;

      &__image {
        margin-top: -4rem;

        &__img {
          width: 85px;
          height: 85px;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          border: 2px solid rgb(230, 226, 226);

          &--red {
            background-color: rgb(233, 61, 61);
          }

          &--yellow {
            background-color: rgb(247, 247, 56);
          }

          &--aqua {
            background-color: aqua;
          }

          &--pink {
            background-color: rgb(218, 154, 165);
          }
        }
      }

      &__info {
        padding: 0.5rem 0 1rem 0;
      }

      &__button {
        border-top: 1px solid $color-border;
        padding: 1.3rem 0;
        text-align: center;
      }
    }
  }

  &-text {
    &-name {
      font-weight: 600;
      font-size: 1.6rem;
    }

    &-position {
      font-size: 1.3rem;
    }

    &-location {
      font-size: 1.1rem;
    }
  }
}
